In [1]:
import pandas as pd
from pathlib import Path

In [43]:
meta = pd.read_csv("Chest_xray_Corona_Metadata.csv", index_col=1).drop("Unnamed: 0", 1)

In [44]:
meta.sample(10)

,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
X_ray_image_name,,,,
person368_bacteria_1678.jpeg,Pnemonia,TRAIN,NaN,bacteria
person1183_bacteria_3131.jpeg,Pnemonia,TRAIN,NaN,bacteria
person573_virus_1116.jpeg,Pnemonia,TRAIN,NaN,Virus
NORMAL2-IM-1271-0001.jpeg,Normal,TRAIN,NaN,NaN
NORMAL2-IM-1187-0001.jpeg,Normal,TRAIN,NaN,NaN
person1323_bacteria_3363.jpeg,Pnemonia,TRAIN,NaN,bacteria
person1402_virus_2405.jpeg,Pnemonia,TRAIN,NaN,Virus
person83_bacteria_410.jpeg,Pnemonia,TEST,NaN,bacteria
NORMAL2-IM-1286-0001.jpeg,Normal,TRAIN,NaN,NaN
IM-0598-0001.jpeg,Normal,TRAIN,NaN,NaN

In [54]:
train = [str(im.stem)+".jpeg" for im in Path("train").rglob("*.jpeg")]

In [55]:
test = [str(im.stem)+".jpeg" for im in Path("test").rglob("*.jpeg")]

In [56]:
#test
len(train + test) == 5163 + 624

True

In [77]:
new_meta = meta.loc[train+test].drop("Label_2_Virus_category", 1)

In [84]:
new_meta["Numeric_Label"] = new_meta["Label_1_Virus_category"].apply(lambda x: 1 if x=="bacteria" else 2 if x=="Virus" else 0)
new_meta = new_meta.drop(["Label", "Label_1_Virus_category"], 1).fillna("Normal")

In [89]:
new_meta.sample(10)

                              Dataset_type  Numeric_Label
X_ray_image_name
person605_virus_1169.jpeg            TRAIN              2
IM-0519-0001-0001.jpeg               TRAIN              0
person1266_virus_2158.jpeg           TRAIN              2
person1374_virus_2365.jpeg           TRAIN              2
person574_bacteria_2370.jpeg         TRAIN              1
NORMAL2-IM-0373-0001.jpeg             TEST              0
person433_virus_882.jpeg             TRAIN              2
person1305_bacteria_3271.jpeg        TRAIN              1
person1756_bacteria_4598.jpeg        TRAIN              1
person100_bacteria_475.jpeg           TEST              1

In [92]:
new_meta[new_meta["Dataset_type"]=="TRAIN"].count()

Dataset_type     5163
Numeric_Label    5163
dtype: int64

In [93]:
new_meta[new_meta["Dataset_type"]=="TEST"].count()

Dataset_type     624
Numeric_Label    624
dtype: int64

In [94]:
new_meta.to_csv("Labels.csv")

In [99]:
new_meta["Numeric_Label"].value_counts()

1    2724
0    1573
2    1490
Name: Numeric_Label, dtype: int64